.DS_Store
Thumbs.db

# tipycal python ignores
__pycache__/
*.py[cod]
*$py.class
.python-version

.Python
build/
dist/
sdist/
var/

.idea/

.env
*.log

# project specific ignore list
common/settings/__init__.py
project-crawler/*.json
visual-inspector/html/
