{% extends 'base.html' %}

{% block title %}
    Sherlock Reports - Dependencies
{% endblock %}


{% block style %}
<style type="text/css">
    .group-tick line {
      stroke: #000;
    }

    .ribbons {
      fill-opacity: 0.67;
    }
</style>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    project_selector.change(function () {
        localStorage.setItem("lastSelectedProject", $(this).val());
        render_dependencies_view();
    });

    window.onload = render_dependencies_view(); 
</script>
{% endblock %}
