{% extends 'base.html' %}

{% block title %}
    Sherlock Reports Page
{% endblock %}

{% block style %}
<style>
    body {
        width: 96%;
        height: 100%;
        padding: 2px;
        background: rgb(163, 245, 207);
    }

    .pretty-text {
        font: 9pt "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .node {
        cursor: pointer;
    }

    .node:hover {
        stroke: #000;
        stroke-width: 1.5px;
    }

    .node--leaf {
        fill: white;
    }

    .label {
        font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }

    .label,
    .node--root,
    .node--leaf {
        pointer-events: none;
    }

    #project_selector, .palign {
        display: inline;
        line-height: 23px;
    }

    #main {
        display: flex;
    }

    #graphic_view {
        width: 768px;
        height: 768px;
    }

    #info_view {
        width: 256px;
        height: 768px;

        font-size: 12pt;
        text-align: right;
        padding-left: 12pt;
    }
</style>
{% endblock %}

{% block content %}
    <div id="top_view" class="full-width pretty-text">
        <p class="palign">Watson just peeked into your code, which one is it:
            <select id="project_selector">
                {% for file_name in datafiles %}
                    <option value="{{ file_name }}"> {{ file_name }} </option>
                {% endfor %}
            </select>
        </p>
    </div>
    <div id="main" class="full-height">
        <div id="graphic_view"></div>
        <div id="info_view" class="pretty-text">click around to see data</div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

    let project_selector = $("#project_selector");
    let graphic_view = $("#graphic_view");
    let info_view = $("#info_view");
    const BASE_URL = "{{ base_url }}";

    project_selector.change(function () {
        render_svg(`${BASE_URL}/${$(this).val()}`)
    });

    project_selector.change();

    function parseSVG(s) {
        let div= document.createElementNS('http://www.w3.org/1999/xhtml', 'div');
        div.innerHTML= '<svg xmlns="http://www.w3.org/2000/svg">'+s+'</svg>';
        let frag= document.createDocumentFragment();
        while (div.firstChild.firstChild)
            frag.appendChild(div.firstChild.firstChild);
        return frag;
    }

    function render_svg(url) {
        let svg_tag = parseSVG('<svg width="768" height="768">');
        graphic_view.empty();
        graphic_view.append(svg_tag);
        let svg = d3.select("svg"),
            margin = 20,
            diameter = +svg.attr("width"),
            g = svg.append("g").attr(
                "transform",
                "translate(" + diameter / 2 + "," + diameter / 2 + ")"
            );

        let color = d3.scaleLinear()
            .domain([-1, 5])
            .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
            .interpolate(d3.interpolateHcl);

        let pack = d3.pack()
            .size([diameter - margin, diameter - margin])
            .padding(2);

        d3.json(url).then( function (root) {
            root = d3.hierarchy(root)
                .sum(function(d) { return d.value; })
                .sort(function(a, b) { return b.value - a.value; });

            let focus = root,
                nodes = pack(root).descendants(),
                view;
            update_info_view(root);

            let circle = g.selectAll("circle")
                .data(nodes)
                .enter().append("circle")
                    .attr("class", function(d) {
                        return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root";
                    })
                    .style("fill", function(d) {
                        return d.children ? color(d.depth) : null;
                    })
                    .on("click", function(d) {
                        if (focus !== d) zoom(d), d3.event.stopPropagation();
                    });

            let text = g.selectAll("text")
                .data(nodes)
                .enter().append("text")
                    .attr("class", "label")
                    .style("fill-opacity", function(d) {
                        return d.parent === root ? 1 : 0.25;
                    })
                    .style("display", function(d) {
                        return d.parent === root ? "inline" : "none";
                    })
                    .text(function(d) { return d.data.name; });

            let node = g.selectAll("circle,text");

            svg.style("background", color(-1))
                .on("click", function() { zoom(root); });

            zoomTo([root.x, root.y, root.r * 2 + margin]);

            function update_info_view(d) {
                info_text = "<p>"
                info_text += d.data.name + "<hr>";
                info_text += "source files: <b>" + d.data.counter.source_files + "</b><br>";
                info_text += "lines of code: <b>" + d.data.counter.sloc_count + "</b><br>";
                info_text += "risk messages: <b>" + d.data.counter.risks_count + "</b><br>";
                info_text += "Complexity: <b>" + d.data.counter.value_count + "</b><br>";
                info_text += "</p>"
                info_view.html( info_text );
            }

            function zoom(d) {
                let focus0 = focus; focus = d;

                update_info_view(d);

                let transition = d3.transition()
                    .duration(d3.event.altKey ? 7500 : 750)
                    .tween("zoom", function(d) {
                        var i = d3.interpolateZoom(
                            view,
                            [focus.x, focus.y, focus.r * 2 + margin]
                        );
                        return function(t) { zoomTo(i(t)); };
                    });

                transition.selectAll("text")
                    .filter(function(d) {
                        return d.parent === focus || this.style.display === "inline";
                    })
                    .style("fill-opacity", function(d) {
                        return d.parent === focus ? 1 : 0.25;
                    })
                    .on("start", function(d) {
                        if (d.parent === focus) this.style.display = "inline";
                    })
                    .on("end", function(d) {
                        if (d.parent !== focus) this.style.display = "none";
                    });
            }

            function zoomTo(v) {
                let k = diameter / v[2]; view = v;
                node.attr("transform", function(d) {
                    return "translate("
                        + (d.x - v[0]) * k
                        + "," + (d.y - v[1]) * k
                        + ")";
                });
                circle.attr("r", function(d) { return d.r * k; });
            }
        });
    }

    </script>
{% endblock %}
