body {
    width: 96%;
    height: 100%;
    padding: 2px;
    background: rgb(163, 245, 207);
}

.pretty-text {
    font: 10pt "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#project_selector {
    display: inline;
    line-height: 21px;
}

#main {
    display: flex;
}

#top_view {
    min-width: 1024px;
    max-width: 1280px;
    text-align: right;
    display: flex;
    vertical-align: bottom;
}

#top_menu {
    width: 768px;
    height: 34px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.top_menu_item {
    vertical-align: middle;
    text-align: center;
    line-height: 21px;
    flex-grow: 1;
}

.top_menu_item a {
    background-color: white;
    text-decoration: none;
    padding: 1px 8px 1px 8px;
    border-radius: 3px;
}

#top_right {
    text-align: right;
    vertical-align: middle;

    min-width: 256px;
    max-width: 320px;
    flex-grow: 1;
}

#graphic_view {
    min-width: 768px;
    min-height: 768px;
    max-width: 1280px;
    max-height: 1280px;
}

#info_view {
    min-width: 256px;
    max-width: 320px;
    flex-grow: 1;
    height: 768px;

    font: 10pt "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-left: 12pt;
}

#info_view textarea {
    font: 6pt "Lucida Console", Monaco, monospace;
}

.two-columns {
    width: 100%;
    text-align: center;
    font: 9pt "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-top: double;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left-column {
    text-align: right;
}
.right-column {
    text-align: right;
    font-weight: bold;
}
